# {{ ansible_managed }}
# settings for verifying incoming connections
identityAuth:
  # services that are allowed to connect directly
  allowedServices:
{% for service in clavem.allowed_services %}
    - {{ service }}
{% endfor %}
  # the max allowed path length from trust anchors
  maxPathLength: 2
  # the root certificates to use as trust for incoming connections
  roots:
    - {{ o24_libellum_certificates_base_path }}/{{ libellum.client_ca | default('outscan.crt') }}

# directory where certificates and keys used for shared encryption
certificates: {{ o24_libellum_certificates_base_path }}/clavem
keys: {{ o24_libellum_keys_base_path }}/clavem
passphrase: {{ vault_clavem_encryption_key_passphrase | to_nice_json }}

# the address to listen on
listen: {{ clavem.ip | default('0.0.0.0') }}:{{ clavem.port | default('5044') }}

tls:
  cipherSuites: {{ ssl_ciphers }}
  cipherSuitesStrictSupported: null
  curvePreferences:
  - x25519
  - secp256r1
  - secp384r1
  minVersion: TLS1.2
  clientAuth: RequestClientCert
  certificates:
    - certificate: {{ o24_libellum_certificates_base_path }}/{{ libellum.cert }}
      privatekey: {{ o24_libellum_keys_base_path }}/{{ libellum.key }}
      passphrase: {{ vault_clavem_encryption_key_passphrase | to_nice_json }}
  clientCa: {{ o24_libellum_certificates_base_path }}/{{ libellum.client_ca | default('outscan.crt') }}
