libellum:
{% if libellum.server is defined %}
  server: https://{{ libellum.server }}
{% endif %}
  renew: {{ libellum.renew | default('4320h') }}

tlsConfig:
  cipherSuites: ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384
  cipherSuitesStrictSupported: null
  curvePreferences:
  - x25519
  - secp256r1
  - secp384r1
  minVersion: TLS1.2
  clientAuth: RequestClientCert
  certificates:
    - certificate: {{ o24_libellum_certificates_base_path }}/{{ libellum.cert }}
      privateKey: {{ o24_libellum_keys_base_path }}/{{ libellum.key }}
      passphrase: {{ libellum.passphrase | to_nice_json }}
  rootCa: {{ o24_libellum_certificates_base_path }}/{{ libellum.root_ca | default('outscan.crt') }}
  clientCa: {{ o24_libellum_certificates_base_path }}/{{ libellum.client_ca | default('outscan.crt') }}
